@charset "UTF-8";

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame {
  position: fixed;
  width: calc(100% - 4em);
  height: calc(100% - 4em);
  border: 18px solid #4b01f7;
  filter: blur(28px);
}

img {
  max-width: 100%;
  width: auto;
  margin: 1em;
  transition: 0.5s filter ease-in-out;
}

img:not(:hover) {
  filter: blur(10px);
}

.img-container {
  position: absolute;
  top: 0;
  width: 50vw;
  display: flex;
  flex-direction: column;
}

/* block grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
}


.grid > div {
  background: black;
  padding: 1rem;
}

.grid > div::before {
  content: "";
  padding-bottom: 100%;
  display: block;
}

